/* Colours
-
 */

.required {
    color: #d00000;
}

/* General Tips
-   For sizing, use % or rem
 */

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    transition-duration: 0.5s;
}

#clear-fields-button {

}

#submit-button {

}

#clear-team-button {

}

.navbar {
    display: inline;
}

.mulish-heading {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.mulish-p {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.member-container {
    display: flex;
    flex-direction: column;
}