/* Character List Container */
.character-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-height: 300px; /* Limit the height */
  overflow-y: auto; /* Make it scrollable if content overflows */
  width: 100%; /* Make it responsive to the container width */
  background-color: #e3e8f0; /* Different background to stand out */
  border-radius: 8px;
  border: 1px solid #ccd3db;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Character Item Box */
.character-item {
  width: 100%;
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.character-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Grayed out for characters that are locked or already recruited */
.grayed-out {
  background-color: #f5f5f5;
  color: #bdbdbd;
  cursor: not-allowed;
}

/* Styling for new characters */
.new-character,
.old-character {
  border-left: 4px solid #ff9800;
}

/* Styling for characters currently in play */
.in-play-character {
  cursor: not-allowed;
  opacity: 0.7;
  position: relative;
}

.in-play-character:hover {
  transform: translateY(0);
  box-shadow: none;
}

/* Character Name */
.character-name {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333333;
}

/* New Badge */
.new-badge {
  font-size: 0.85rem;
  font-weight: bold;
  color: #ff9800;
  background-color: #fff3e0;
  padding: 2px 8px;
  border-radius: 3px;
}

/* Locked Badge */
.gray-badge {
  font-size: 0.85rem;
  font-weight: bold;
  color: #5a5a5a;
  background-color: #ffffff;
  padding: 2px 8px;
  border-radius: 3px;
}

/* Bench Badge */
.bench-badge {
  font-size: 0.85rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #b3b3b3;
  padding: 2px 8px;
  border-radius: 3px;
}

#input-form-container {
  max-width: 500px;
  background-color: #f6f8fa;
  border-radius: 10px;
}

/* Form Container */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 10px 20px 20px 20px;
  background-color: #f6f8fa;
  border-radius: 10px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
}

/* Submit Button */
#submit-button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #47aa2c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Make it full width */
  margin: 5px;
}

#submit-button:hover {
  background-color: #66d548;
}

#submit-button:disabled {
  background-color: #cfd8dc;
  cursor: not-allowed;
}

/* Selected Character Display */
.recruit-container {
  display: flex;
  align-items: center;
}
